[
  {"Namespace": "aws:elasticbeanstalk:container:tomcat:jvmoptions",
   "OptionName": "Xms",
   "Value": "256m"},
   {"Namespace": "aws:elasticbeanstalk:container:tomcat:jvmoptions",
   "OptionName": "Xmx",
   "Value": "256m"},
   {"Namespace": "aws:elasticbeanstalk:container:tomcat:jvmoptions",
   "OptionName": "XX:MaxPermSize",
   "Value": "512m"}
]