body {
    font-family: Sans-Serif;
}

.greyout {

    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */

}

.loginbox {

    margin-top: 20px;
}

.boxmain {
    height: 200px;
    padding: 1em;
}
.fa-3 {
    font-size: 6em;
}

#userinfo {
    z-index: 5;
    position: absolute;
    margin-left: 10%;
    visibiility: collapse;
    background-color: honeydew;
    padding: 15px;
    visibility: hidden;
    box-shadow: 10px 10px 5px #888;
}

.contentPadding{
    padding: 10px;
}

.component {
        background-color: #c2c7c9;
        margin: 0 auto;
        height: 50px;
        width: 93%;
        float: left;
        border: 2px solid #666666;
        background-color: #ccc;
        padding-top: 5px;
        text-align: center;
        cursor: move;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.lightskyblue{
    background-color: lightskyblue;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.darkgreen{
    background-color: darkgreen;
}
.darkorange{
    background-color: darkorange;
}

.centermessagebox {
    margin: 0 auto;
}

.dropbox {
    min-height: 10em;
}

#login {
    margin: 15px 0px;
    padding: 0px;
    text-align: center;
    position:absolute;
    left:30%;
    top:10%;
}

#login .inner .fheader {
    padding: 18px 26px 14px 26px;
    background-color: #f7f7ff;
    margin: 0px 0 14px 0;
    color: #2e3741;
    font-size: 18px;
    font-weight: bold;
}

#login .inner .content{
    margin-bottom: 20px;
}