.boxmain {
    height: 200px;
    padding: 1em;
}
.fa-3 {
    font-size: 6em;
}

#userinfo {
    z-index: 5;
    position: absolute;
    margin-left: 10%;
    visibiility: collapse;
    background-color: honeydew;
    padding: 15px;
    visibility: hidden;
    box-shadow: 10px 10px 5px #888;
}

.contentPadding{
    padding: 10px;
}

.component {
        background-color: #c2c7c9;
        height: 50px;
        width: 95%;
        margin: 0 auto;
        box-shadow: 10px 10px 5px #888;
}